.com{
    width: 100%;
    height: 25vw;


}
body{
    border: 20vw;
    margin: 0px;
    background-image: url("nature.jpg");
background-repeat: no-repeat;

    background-size: cover;
}
.conta{
    background-color: black;
}